.navbar {
    box-shadow: 0 7px 7px rgba(192, 186, 186, 0.8);
}

.navbar-nav {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #080808;
}
.nav-item4 {
    width: 100px;
    height: 25px;
    left: 1235px;
    top: 18px;
    background: #07b4fe;
    border-radius: 10px;
}
.nav-link4 {
    color: #ffffff;
    text-align: center;
}

.logo {
    font-family: "Lobster", cursive;
    color: #07b4fe;
    font-size: 26px;
}

.judul {
    text-align: left;
    font-family: "Poppins", sans-serif;
    margin-left: 130px;
    margin-top: -350px;
    font-size: 24px;
    color: white;
}
@media (max-width: 750px) {
    .judul {
        font-size: 18px;
    }
}
.subjudul {
    text-align: left;
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
    margin-left: 130px;
    font-size: 18px;
    color: white;
}
@media (max-width: 750px) {
    .subjudul {
        font-size: 18px;
    }
}
.tag {
    font-size: 25px;
    margin-top: -10px;
    font-family: "Poppins", sans-serif;
    text-align: left;
    margin-left: 100px;
}
.tag2 {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    text-align: left;
    margin-left: 100px;
}
.mydestinasi1 {
    font-size: 25px;
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    text-align: left;
    margin-left: 100px;
}
.container {
    margin-right: 150px;
}

.favorite {
    margin-top: 50px;
    margin-left: 95px;
}
.kota {
    margin-top: -5px;
}

.wisata p {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}
.one {
    margin-top: 50px;
}

/* footer */
.foot1 {
    margin-top: 50px;
    font-family: "Lobster", cursive;
    color: #07b4fe;
    font-size: 40px;
    text-align: left;
    margin-left: 100px;
}
@media (max-width: 750px) {
    .foot1 {
        font-size: 30px;
    }
}
.tagone {
    font-family: "Poppins", sans-serif;
    text-align: left;
    margin-left: 100px;
}
.foot2,
.list2 {
    margin-left: 250px;
    margin-top: -90px;
    font-family: "Poppins", sans-serif;
}
@media (max-width: 750px) {
    .foot2,
    .list2 {
        font-size: 15px;
        margin-left: 400px;
        margin-top: -100px;
    }
}

@media (max-width: 750px) {
    .foot3,
    .list3 {
        font-size: 15px;
    }
}
.list3,
.foot3 {
    margin-left: 590px;
    margin-top: -180px;
    font-family: "Poppins", sans-serif;
}

.list2 {
    margin-top: -1px;
}
.list3,
.foot3 {
    margin-left: 20px;
    margin-top: -150px;
    font-family: "Poppins", sans-serif;
    text-align: left;
    font-size: 15px;
}

.list3 {
    margin-top: 5px;
}

.sosmed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    font-size: 25px;
    margin-top: -150px;
}
.sosmed li {
    list-style: none;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #07b4fe;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}

.tagakhir {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    margin-right: 160px;
    margin-top: -100px;
}

.textplay {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.tagakhir2 {
    margin-right: 250px;
    margin-top: -60px;
}

.tagakhir2 a {
    list-style: none;
    width: 120px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080808;
    border-radius: 10%;
    margin: 0 7px;
    cursor: pointer;
}

.tagakhir3 a {
    list-style: none;
    width: 120px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080808;
    border-radius: 10%;
    margin: 0 7px;
    cursor: pointer;
}

.tagakhir3 {
    margin-right: 100px;
    margin-top: -60px;
}

/* infokota */
.tag4 {
    font-size: 25px;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    text-align: left;
    margin-left: 100px;
}

.wisatap {
    text-align: left;
    margin-left: 100px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.mydestinasi2 {
    font-size: 25px;
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    text-align: left;
    margin-left: 100px;
}

.footers {
    margin-top: 200px;
}

/* Download */
.down {
    margin-top: 100px;
}
@media (max-width: 750px) {
    .down {
        width: 300px;
        height: 300px;
    }
}

.down2 {
    margin-top: -480px;
    margin-left: 480px;
}
@media (max-width: 750px) {
    .down2 {
        font-size: 12px;
    }
}
.kotak {
    margin-top: -370px;
    margin-left: 450px;
}

.down3 {
    margin-top: -800px;
    margin-left: 480px;
}
.kotak2 {
    margin-top: -650px;
    margin-left: 450px;
}
.parag {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    text-align: left;
    margin-top: -280px;
    margin-left: 480px;
}
